@charset "UTF-8";


/*-------------
  ---Reset---
-------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh
}

body {
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}


/*--------------
Estilo do Header
---------------*/


header {
    align-items: center;
    background-color: #1B365D;
    color: #fff;
    display: flex;
    height: 150px;
    justify-content: center;
    width: 100vw;
}



#header_titulo {
    font-size: 26px;
}


/*-------------
estilos do Main
--------------*/


main {
    background-color: #F5F7F6;
    flex: 1;
    width: 100vw;
}

.main_conteiner {
    display: flex;
    flex-flow: column nowrap;
}



/*-------------
Estilos do Menu
---------------*/


#menu {
    align-items: center;
    display: flex;
    flex-flow: column;
    border-bottom: 2px solid #E0E0E0 ;
}

#menu_opcoes {
    display: none;
    list-style: none;
    margin: 15px;
}

#menu_opcoes li > a {
    background-color: #2E7D32;
    border-radius: 5px;
    color: #FFF;
    margin: 0 25px;
    padding: 5px;
    text-decoration: none;
}

#burguer {
    color: #1B365D;
    font-size: 35px;
    text-align: center;
    width: 100%;
}

#burguer:hover {
    background-color: #1B365D;
    color: #FFF;
    cursor: pointer;
    transition: .5s;
}

.subtitulo {
    color: #1B365D;
    margin: 20px 0;
    text-align: center;
}


/*-------------------------
Estilo da lista de produtos
--------------------------*/


.secao_lista {
    width: 100vw;
}

#lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}

article {
    background-color: #FFF;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    margin: 8px;
    padding: 5px;
    text-align: center;
}

article > .imagens_produtos {
    border: 2px solid #bbbbbb;
    border-radius: 5px;
    width: 150px;
    max-height: 100px;
}

article > h3 {
    color: #212121;
}

article > p {
    color: #616161;
    padding: 5px;
}

article > button {
    margin-bottom: 4px;
}

.oferta {
    color: #F57C00;
}

.botao_compra {
    background-color: #F57C00;
    border-radius: 7px;
    color: #000;
    padding: 0 5px;
}


/*---------------------------
Estilos Aside(Outras ofertas)
----------------------------*/



#outras_ofertas {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 0;
}

.subtitulo_ofertas {
    color: #1B365D;
    text-align: center;
}

#tabela {
    background-color: #FFF;
    border: 2px solid #E0E0E0;
    border-radius: 8px;
    padding: 5px 20px;
    width: 340px;
}

td {
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    margin-left: 15px;
    padding: 5px 15px;
}



/*--------------
Estilos do footer
----------------*/



footer {
    background-color: #1B365D;
}

footer > p {
    color: #FFF;
    padding: 20px;
    text-align: center;
}


/*-------------------
estilos do formulário
---------------------*/



#formulario {
    padding: 8px;
}

fieldset {
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    padding: 8px;
}

fieldset > input,
fieldset > textarea {
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    margin-bottom: 20px;
}

fieldset > textarea {
    padding: 5px;
    min-height: 200px;
}

fieldset > button {
    border: 2px solid #a8a8a8;
    border-radius: 5px;
    color: #1B365D;
}

/*--------------------
Estilo da página sobre
---------------------*/

.sobre p {
    text-align: justify;
    text-indent: 2em;
}


/*-------------------------
Estilos media queries 550px
--------------------------*/

@media screen and (width > 550px) {
    .secao_formulario {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
    }

    #formulario {
        width: 500px;
    }
}


/*-------------------------
Estilos media queries 768px
---------------------------*/


/*---------------------------
Estilos aside(Outras ofertas)
----------------------------*/
@media  screen and (width > 765px) {
    #tabela {
        width: 500px;
    }
    
}



/*--------------------------
Estilos media queries 1024px
---------------------------*/


/*---------------------
Estilos da página sobre
----------------------*/

@media screen and (width > 850px) {
    .secao_sobre {
        display: flex;
        justify-content: center;
    }
    
    .secao_sobre > .sobre {
        max-width: 80%;
    }
    
}



/*--------------------------
Estilos media queries 1430px
---------------------------*/

@media screen and (width > 1430px) {
    .main_conteiner {
        align-items: center;
    }

    .secao_lista {
        width: 80vw;
    }

    .secao_sobre > .sobre {
        max-width: 55%;
    }
}


